nav {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    flex: 1;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    h1 {
      color: #000;
    }
    button {
      background: transparent;
      outline: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s ease;
      color: #000;
      &:active {
        transition: all 0.3s ease;
        transform: scale(1.05);
        opacity: 0.25;
      }
      &:hover {
        transition: all 0.3s ease;
        background-color: white;
        filter: brightness(0.975);
      }
    }
  }
}
