.player {
  min-height: 15vh;
  padding: 0 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  &__time-control {
    display: flex;
    min-width: 100%;
    &--range {
      width: 100%;
      padding: 1rem 0rem;
    }
    &--start-time,
    &--end-time {
      padding: 1rem;
      color: #445b78;
      width: 55px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__play-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    min-width: 50%;
    width: 100%;
    svg {
      cursor: pointer;
      transition: all 0.1s;
    }
    &--skip-back,
    &--skip-forward,
    &--play {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease;
      background-color: white;
      &:active svg {
        transform: scale(1.25);
        opacity: 0.25;
      }
      &:hover {
        background-color: rgb(245, 245, 245);
        filter: brightness(0.975);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .player {
    &__time-control {
      &--range {
      }
      &--start-time,
      &--end-time {
      }
    }
    &__play-control {
      svg {
      }
      &--skip-back,
      &--skip-forward,
      &--play {
        &:active svg {
          transform: scale(1.25);
          opacity: 0.25;
        }
        &:hover {
          background-color: transparent;
          filter: none;
        }
      }
    }
  }
}
